name: hassfest
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
jobs:
  hassfest:
    name: Run hassfest
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: home-assistant/actions/hassfest@master